body{
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: #503295;
    display:flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color: #ccff33;
}

.rigth-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 50px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0 0 50px #503295;
}

.card-login > h1, label{
    color: #ccff33;
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > label{
    color: #ccff33;
    margin-bottom: 10px;
}

.textfield > input{
    color: #ffffff;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 15px;
    background: #514869;
    box-shadow: 0px 10px 40px #00000056;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}